.header {
    background-color: $main-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;
    transition: height 0.3s ease;
    border-bottom: 1px solid $main-color;

    .container {
        height: 100%;
        display: flex;
    }
    .left {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main-bg;
        padding: 0 25px;
        border-right: 1px solid $main-color;
    }
    .right {
        width: 80%;
        padding: 5px;
        background-color: $main-bg;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
        display: flex;
        background-color: $main-bg;

        .right-column-1 {
            display: flex;
            width: 50%;
            justify-content: space-between;
        }
        .right-column-2 {
            display: flex;
            width: 20%;
            justify-content: space-between;
            align-items: center;
        }
    }
}
